<MonsterList />
    <div class="layout-column flex-xs flex-gt-xs-50">
    {{#each model as |encounter|}}
        <div class="mdc-card__actions mdc-card--outlined">
            <div class="mdc-card__actions-content">{{encounter.name}}</div>
            <button class="mdc-button mdc-card__action mdc-card__action--button">
                <div class="mdc-button__ripple"></div>
                <span class="mdc-button__label">
                    <LinkTo @route="monster.details" @model={{encounter}}>View</LinkTo>
                </span>
            </button>
            <LinkTo @route="monster.details" @model={{encounter}}>View</LinkTo>
        </div>
    {{/each}}
    </div>