<h1> MonsterList</h1>
<p>{{this.count}}</p>
 {{data-table
  content=model
  fields="firstName lastName age created modified"
  isLoading=isLoadingModel
  filter=filter
  sort=sort
  page=page
  size=size
}}
{{yield}}