<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Homebrewersback</h2>
  <p>
    The Homebrewersback website is a delightful project created to explore Ember.
    By building a property Homebrewersback site, we can simultaneously imagine homebrewing
    AND building Ember applications.
  </p>
</div>