# Docs for the Azure Web Apps Deploy action: https://go.microsoft.com/fwlink/?linkid=2134798
# More GitHub Actions for Azure: https://go.microsoft.com/fwlink/?linkid=2135048

name: Azure App Service - homebrewery-app(Production), Build and deploy NodeJS app

on:
  push:
    branches:
      - main
  workflow_dispatch:
      
env:
  AZURE_WEBAPP_PACKAGE_PATH: 'dist' 
  BACKEND_ENDPOINT: ${{ secrets.BACKEND_ENDPOINT }}
  BACKEND_IMAGES: ${{ secrets.BACKEND_IMAGES }}

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    # checkout the repo
    - name: 'Checkout Github Action'
      uses: actions/checkout@master

    - name: Set up Node.js version
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'

    - name: npm install, build, and test
      run: |
        npm ci
        npm run build --if-present

    - name: Run Azure webapp deploy action using publish profile credentials
      uses: azure/webapps-deploy@v2
      with:
        app-name: homebrewery-app
        slot-name: Production
        publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_6866253EB7A54BE79295E6D25486041F }}
        package: ${{ env.AZURE_WEBAPP_PACKAGE_PATH }}
